.list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.list-item {
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 4vw;
}
@media screen and (min-width: 600px) {
  .list-item {
    font-size: 2vw;
  }
}
