@import './settings.scss';

body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}
.container {
  display: flex;
  justify-content: center;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 80%;
  background-color: $background;

  &-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-status {
    font-size: 3vw;
    font-weight: bold;

    &__letter {
      text-align: center;
      font-size: 7vw;
    }
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  gap: -1px;
}

.square {
  background: $ligth-color;
  border: 1px solid $grey-color;
  font-size: 6vw;
  font-weight: bold;
  height: 25vw;
  width: 25vw;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  display: inline-block;
}

.button {
  cursor: pointer;
  margin: 10px;
  min-width: 100px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 10px;
  border: 0.5px solid $grey-color;
}

@media screen and (min-width: 800px) {
  .game {
    flex-direction: row;

    &-status__letter {
      font-size: 6vw;
    }
    &-status__p {
      margin: 2px;
    }
  }
  .square {
    max-height: 15vw;
    max-width: 15vw;
    font-size: 3vw;
  }
}
@media screen and (min-width: 900px) {
  .square {
    max-height: 13vw;
    max-width: 13vw;
  }
}
