@import './settings.scss';

.game-time {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: $background;
  }

  &-options {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}
.grid-four-container {
  background-color: $ligth-color;
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: -1px;
}

.grid-button {
  background: $ligth-color;
  border: 1px solid $grey-color;
  cursor: pointer;
  height: 20vw;
  width: 20vw;
  margin-right: -1px;
  margin-top: -1px;
  display: inline-block;
}

.color {
  opacity: 0.3;
}

.color-1 {
  background-color: rgb(230, 223, 252);
}
.color-2 {
  background-color: rgb(198, 240, 250);
}
.color-3 {
  background-color: rgb(224, 205, 245);
}
.color-4 {
  background-color: rgb(241, 228, 193);
}
.color-5 {
  background-color: rgb(214, 255, 216);
}
.color-6 {
  background-color: rgb(248, 249, 218);
}
.color-7 {
  background-color: rgb(219, 252, 251);
}
.color-8 {
  background-color: rgb(232, 254, 210);
}
.color-9 {
  background-color: rgb(234, 214, 253);
}
.color-10 {
  background-color: rgb(219, 255, 219);
}
.color-11 {
  background-color: rgb(255, 199, 199);
}
.color-12 {
  background-color: rgb(222, 255, 245);
}
.color-13 {
  background-color: rgb(255, 210, 232);
}
.color-14 {
  background-color: rgb(225, 233, 255);
}
.color-15 {
  background-color: rgb(255, 239, 227);
}
.color-16 {
  background-color: rgb(194, 220, 244);
}

@media screen and (min-width: 800px) {
  .game-time-container {
    flex-direction: row-reverse;
  }
  .grid-button {
    height: 10vw;
    width: 10vw;
  }
}
